<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>BVNtool Web</title>
</head>
<body>
    <h1>BVNtool WebApp läuft!</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="files" multiple>
        <input type="submit" value="Hochladen">
    </form>

    {% if uploaded %}
    <h3>Dateien:</h3>
    <ul>
        {% for file in uploaded %}
        <li>{{ file }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if result_ready %}
    <a href="/results/{{ excel_file }}">Ergebnis herunterladen</a><br>
    <a href="/results/{{ txt_file }}">Fehlerprotokoll herunterladen</a>
    {% endif %}
</body>
</html>

